<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Predicting Airflow Self-Noise ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predicting Airflow Self-Noise</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Frequency" placeholder="Frequency (200-2000)" required="required" />
        <input type="text" name="AngleAttack" placeholder="AngleAttack (0.00-22.2)" required="required" />
        <input type="text" name="ChordLength" placeholder="ChordLength (0.025-0.30)" required="required" />
        <input type="text" name="FreeStreamVelocity" placeholder="FreeStreamVelocity (31-71)" required="required" />
		<input type="text" name="SuctionSide" placeholder="SuctionSide (0.0-0.05)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>